@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Blazor.Services

@inject SimpleDbAuthProvider Auth
@inject NavigationManager Nav

<nav class="navbar navbar-expand-lg navbar-dark bg-primary align-items-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ReRide</a>

        <div class="navbar-nav me-auto">
            <a class="nav-link" href="/bikes">Bikes</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Bikes</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Option 1</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex">
            <AuthorizeView>
                <Authorized Context="authContext">
                    <span class="navbar-text me-2">Welcome, @authContext.User.Identity?.Name</span>
                    <NavLink class="btn  btn-success" href="/create-ad">Create</NavLink>
                    <button class="btn  btn-danger" @onclick="DoLogout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn btn-light" href="/login">Login</NavLink>
                    <NavLink class="btn btn-warning" href="/signup">Sign Up</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

<div class="page-content container mt-4">
    @Body
</div>

@code {
    private void DoLogout()
    {
        Auth.Logout();
        Nav.NavigateTo("/");
    }
}
