@inherits LayoutComponentBase

<div class="top-nav">
    <NavMenu />
</div>

<div class="page-content container mt-4">
    @Body
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
