<nav class="navbar navbar-expand-lg navbar-dark bg-primary align-items-center">

    <div class="container-fluid">

        <nav class="navbar">
            <a class="navbar-brand" href="/">ReRide</a>

            <div class="navbar-nav">
                <a class="nav-link" href="/bikes">Counter</a>
                <a class="nav-link" href="/weather">Weather</a>
                

                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Bikes</a>
                    <ul class="dropdown-menu">                        na
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                    </ul>
                </div>
            </div>

        </nav>


            <!-- Login / Sign Up -->
            <div class="d-flex">
                <NavLink class="btn btn-outline-light me-2" href="/login">Login</NavLink>
                <NavLink class="btn btn-light" href="/signup">Sign Up</NavLink>
            </div>

        </div>
    
</nav>




