@using Blazor.Services
@inject BikeService BikeService

@code {
    private List<string>? types;

    protected override void OnInitialized()
    {
        // Hent distinkte typer fra databasen (via din Npgsql-baserede BikeService)
        types = BikeService.GetDistinctTypes();
    }
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary align-items-center">
    <div class="container-fluid">

        <nav class="navbar">
            <a class="navbar-brand" href="/">ReRide</a>

            <div class="navbar-nav">
                <a class="nav-link" href="/bikes">Bikes</a>
               
                <div class="dropdown">
                    #
                        Types
                    

                    <ul class="dropdown-menu" aria-labelledby="bikesDropdown">
                        @if (types is null || types.Count == 0)
                        {
                            <li><span class="dropdown-item-text text-muted">Ingen typer</span></li>
                        }
                        else
                        {
                            @foreach (var t in types)
                            {
                                var href = $"/bikes?type={Uri.EscapeDataString(t)}";
                                <li> href@t</li>
                                    
                                
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Login / Sign Up -->
        <div class="d-flex">
                <NavLink class="btn btn-outline-light me-2" href="/login">Login</NavLink>
                <NavLink class="btn btn-light" href="/signup">Sign Up</NavLink>
        </div>

    </div>
</nav>





