@page "/login"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Login</h3>

<p>Under Construction</p>

@*<div class="form-group">
    <label for="email">Email:</label>
    <input @bind="Email" class="form-control" />
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" @bind="Password" class="form-control" />
</div>

<button class="btn btn-primary" @onclick="HandleLogin">Login</button>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="text-danger">@ErrorMessage</div>
}

@code {
    private string? Email { get; set; }
    private string? Password { get; set; }
    private string? ErrorMessage { get; set; }

    private async Task HandleLogin()
    {
        // Simpel validering (kun demo)
        if (Email == "admin" && Password == "1234")
        {
            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            ErrorMessage = "Wrong Email or password!";
        }
    }
}*@

