@page "/my-account"
@using Blazor.Models
@using Blazor.Services
@inject SimpleDbAuthProvider AuthProvider
@inject BikeService BikeService
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject UserService UserService

<h2>My Account</h2>

@if (UserBikes == null)
{
    <p>Loading...</p>
}
else if (!UserBikes.Any())
{
    <p>You have not created any ads yet.</p>
}
else
{
    <h3>Your Ads</h3>

    @foreach (var bike in UserBikes)
    {
        <SaleCard Bike="bike" />
    }

}

@code {
    private List<Bike>? UserBikes;

    protected override async Task OnInitializedAsync()
    {
        var userId = AuthProvider.CurrentUserId;
        UserBikes = await UserService.GetUserBikesAsync(userId);

        // Load messages for each bike
        foreach (var bike in UserBikes)
        {
            bike.Messages = await UserService.GetMessagesForBikeAsync(bike.Id);
        }
    }
}
